name: Backports

on:
  pull_request_target:
    types: ["labeled", "closed"]

jobs:
  backports:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./actions/backports
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}