name: Pre-Release

on:
  workflow_dispatch:
    inputs:
      prerelease-name:
        description: 'The name of the prerelease.'
        required: true

permissions:
  contents: write

jobs:
  pre-release:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - uses: ./.github/actions/pre-release
        with:
          app-id: ${{ vars.APP_ID }}
          app-private-key: ${{ secrets.APP_PRIVATE_KEY }}
          prerelease-name: ${{ github.event.inputs.prerelease-name }}
